/* Most used Font type, size, weight*/

$fontSize: 14px;
$fontWeight: 500;
$global-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;

/* Background colors */
$bg-white: #ffffff;
$bg-pearl: #fafafa;
$bg-story-start: #b83f8c;
$bg-story-end: #ed9e5a;
$bg-close-start: #5ae661;
$bg-close-end: #82e05c;
$bg-transparent: transparent;

/* Border colors */
$border-pearl: #dbdbdb;
$border-white: #ffffff;

/* Font colors */
$holder-gray: #f2f2f2;
$text-darkgray: #262626;
$placeholder-gray: #8e8e8e;
